*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --orange : #FB892E;
    --grey : #F0F2F5;
    --border-grey: #E4E5E7;
    --footer-primary : #313A44;
    --footer-secondary : #3D464F;
}
#header{
    color: grey;
    display: flex;
    flex-direction: column;
    height: 16vh;
}
.main-header{
    flex: 1.6;
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFF;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    flex: 2;
    font-size: 30px;
}
.Sub-text{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}
.search-box{
    margin-top: auto;
    margin-bottom: auto;
    flex: 3;
}
.search-box input{
    padding: 5px;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.search-box button{
    height: 35px;
    border: none;
    width: 25px;
    border-radius: 0px 5px 5px 0px;
    background-color: #FFFFFF;
    color: #FB892E;
}
.main-nav{
    margin-top: auto;
    margin-bottom: auto;
    flex: 3;
}
.main-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 500;
}
.notifications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.4;
}
.Sub-text{
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
}
#header span{
    font-weight: 500;
}
.sub-header{
    flex: 1;
    background-color: #FFFFFF;
    border:  2px solid var(--border-grey);
}
.sub-header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-top: 1.1vh;
}
#header .sub-header ul{
    color: #343434;
    font-weight: 500;
}
.sub-header ul li{
    margin: 0px 35px 0px 35px;
    cursor: pointer;
}