:root {
  --orange: #FB892E;
  --grey: #F0F2F5;
  --footer-primary: #313A44;
  --footer-secondary: #3D464F;
  --green : #04CE88;
  --blue: #3541B7;
  --red: #DD5555;
}

body {
  background: var(--grey);
}



.console {
  margin-top: 0;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  margin-left: 10%;
  max-width: 82%;
  background: #ffffff;
}

.console .top {
  display: flex;
  flex-direction: row;
}

.console .top .left {
  margin-top: 1vh;
  margin-left: 8%;
  display: flex;
  flex: 1;
  max-width: 20%;
}

.console .top .left .orange {
  border-left: 6px solid var(--orange);
  height: 4em;
}

.console .top .left .text {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.console .top .left .text .head {
  font-size: 1.6em;
  font-weight: 600;
}

.console .top .left .text .date {
  font-size: 1.2em;
  font-weight: 400;
  text-align: left;
}

.console .top .right {
  color: #3D464F;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 1vh;
  margin-left: 5vw;
  flex: 1;
  font-size: 0.95em;
  max-width: 25vw;
  text-align: left;
}

.center{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.center .black{
  border: 1px solid var(--grey);
  height: 60vh;
  margin-bottom: 2%;
}
.center .left{
  width: 50%;
}
.center .right{
  width: 50%;
}

.center .left #total{
  margin-top: 2%;
  padding: 5%;
  margin-left: 20%;
  width: 70%;
  height: 90%;
}
.center .right .status{
  padding: 2%;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.center .right .status #curr{
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
}
.center .right .status #curr #prog{
  max-width: 30%;
}
.center .right .status #curr #stat{
  font-size: 120%;
  font-weight: 500;
  color: #555555;
  text-align: left;
  margin-left: 21%;
  display: flex;
  flex-direction: column;
}
.center .right .status #curr #stat #head{
  color: var(--orange);
  font-size: 120%;
}


.stats {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
}

.stats hr {
  border: 1px dashed #BBBBBB;
}

.stats .titles {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  color: #3D464F;
  max-width: 100%;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.stats .titles span {
  margin-right: 8em;
}

.stats .values {
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.stats .values #earning {
  font-size: 200%;
  font-weight: 600;
  margin-right: 10%;
}

.stats .values #dar {
  font-size: 120%;
  font-weight: 500;
}

.stats .values #completed {
  font-size: 150%;
  color: var(--green);
}

.stats .values #upcoming {
  font-size: 150%;
  color: var(--red);
}

.values #target {
  margin-left: 20%;
  font-size: 150%;
  font-weight: 500;
}

.bottom {
  margin-top: 0;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  margin-left: 10%;
  max-width: 82%;
  background: #fffaf6;
}

.bottom .title2 {
  display: flex;
  flex-direction: row;
  font-size: 170%;
  font-weight: 600;
}

.bottom .title2 #today {
  margin-left: 3%;
  font-weight: 500;
  color: var(--green);
}

.bottom .title2 #per {
  margin-left: 55%;
}

.bottom .bar {
  margin-top: 5%;
  background-color: #D9D9D9;
  width: 90%;
  border-radius: 15px;
}
.bottom .bar .percent {
  background-color: var(--green);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  width: 50%;
}

.bottom .values {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.bottom .values #dar {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  font-size: 120%;
  font-weight: 500;
}

.bottom .values #present {
  margin-right: 10%;
  font-size: 180%;
  color: var(--green);
}

.bottom .values #absent {
  margin-left: 40%;
  margin-right: 10%;
  font-size: 180%;
  color: var(--red);
}

.bottom .values #leave {
  margin-left: 40%;
  margin-right: 10%;
  font-size: 180%;
  color: var(--blue);
}