:root {
    --orange : #FB892E;
    --grey : #F0F2F5;
    --footer-primary : #313A44;
    --footer-secondary : #3D464F;
}
body{
    background: var(--grey);
}



.console{
    margin-top: 0;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    margin-left: 10vw;
    max-width: 80vw;
    background: #ffffff;
}
.top{
    display: flex;
    flex-direction: row;
}
.left{
    margin-top: 1vh;
    margin-left: 8%;
    display: flex;
    flex: 1;
    max-width: 20%;
}
.left .orange{
    border-left: 6px solid var(--orange);
    height: 4em;
}
.left .text{
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}
.left .text .head{
    font-size: 1.6em;
    font-weight: 600;
}
.left .text .date{
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
}

.right{
    color:#3D464F;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 1vh;
    margin-left: 5vw;
    flex: 1;
    font-size: 0.95em;
    max-width: 25vw;
    text-align: left;
}



.circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}
circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .mask .full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }  